/* Universal Stylings */

html {
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body {
    background-color: #FEF1E6;
}

header {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-around;
}

header, footer {
    background-image: url("/resources/images/banner.jpg");
    background-position: top center;
}

main {
    width: 80%;
    margin: 10% 10%;
}

aside {
    font-size: 2rem;
    text-align: center;
}

footer {
    color: white;
    padding: 5% 10%;
    line-height: 1.5;
}

h1 {
    font-size: 2rem;
    color: white;
    text-shadow: -1px 1px 0 #000,
        1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;

}

h2 {
    font-size: 3rem;
    margin: 5% auto;
}

h3 {
    margin: 5% auto 15%;
    padding: 3%;
    background-color:  #FF6B35;
    width: 50%;
    text-align: center;
    font-size: 1.5rem;
    border: 1px solid black;
    border-radius: 20px;
}

p {
    font-size: 1.2rem;
    text-align: justify;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    cursor: pointer;
}

/* Class Sections of the Document */

.socials {
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: royalblue;
}

.socials li {
    text-align: center;
}

.socials:hover {
    background-color: powderblue;
}

.hero {
    background-color: #FF6B35;
    padding: 5%;
    border-radius: 5%;
}

.subtitle {
    margin: 10% auto;
    text-align: left;
}

.hero img {
    margin: 5% 2px 10% -2px;
    width: 100%;
    border: 2px solid black;
}

.content {
    margin: 25% auto;
}

.quote {
    font-style: italic;
}

.projects a {
    color: royalblue;
}

.projects a:hover {
    color: powderblue;
}

/* Media Query for Larger Devices */

@media only screen and (min-width: 1025px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    section {
        margin: 20px;
    }
}